body{
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    cursor:default;
}
.text-purple{
    color: rgb(132, 0, 255);
}
.text-discord{
    color: rgb(134, 102, 221);
}
.text-blue{
    color: rgb(0, 53, 138);
}
.barra_herramientas{
    width: 100%;
    bottom: 0;
    font-weight: lighter;
    position: absolute;
    z-index: 20;
}
.barra_herramientas_hover:hover{
    background-color: rgb(58, 58, 58);
}
.inicio{
    z-index: 10;
    bottom: 56px;
    position: absolute;
    width: max-content;
    height: 380px;
    display: none;
}
.overflowY{
    overflow-y: scroll;
}
.overflowY::-webkit-scrollbar {
    background-color: rgba(58, 58, 58, 0);
    width: 2px;
}
.overflowY::-webkit-scrollbar-thumb {
    background: rgba(204, 204, 204, 0.543);
    border-radius: 4px;
    display: none;
}
.inicio:hover > .overflowY::-webkit-scrollbar-thumb{
    display: block;
}
.bg-desktop{
    z-index: -1;
    height: 100vh;
    width: 100%;
    position: fixed;
}
.icono{
    border-radius: 0;
    background-color: transparent;
    max-width: max-content;
    border: none;
    margin-inline: 20px;
    border: 1px solid rgba(255, 255, 255, 0);
}
.icono:hover{
    border: 1px solid white;
    background-color: rgba(105, 105, 105, 0.076);
}
.card{
    max-width: min-content;
}
.nombre_icono{
    font-size: 15px;
    line-height: 0.8;
}
.hover_grey:hover{
    background-color: rgb(58, 58, 58) !important;
}
.p_2_5{
    padding: 12px;
}
.fs_6_5{
    font-size: 15px;
}
.fs_7{
    font-size: 14px;
}
.overflowX{
    overflow-x: scroll;
}
.door{
    position: absolute;
    width: 800px;
    height: 500px;
    background-color: rgba(29, 29, 29, 0.919);
    
}
.maximizar_puerta{
    position: absolute;
    left: 0 !important;
    top: 0 !important;
    width: 100vw;
    height: 78vh;
}
#barra_top_puerta{
    width: 100%;
}
.btn_cerrar:hover{
    background: rgb(255,42,42);
    background: -moz-radial-gradient(circle, rgba(255,42,42,1) 0%, rgba(255,0,0,0.742734593837535) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,42,42,1) 0%, rgba(255,0,0,0.742734593837535) 100%);
    background: radial-gradient(circle, rgba(255,42,42,1) 0%, rgba(255,0,0,0.742734593837535) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff2a2a",endColorstr="#ff0000",GradientType=1);  
}
.ubicaciones{
    width: 150px;
}
.contenido{
    height: 100%;
    width: 100%;
}
.buscadorEquipo{
    width: 100%;
    outline: none;
    font-size: 13px;
    border: none;
}
.no_border{
    border: none !important;
}
.foto{
    border-radius: 100%;
    width: 25px;
}
.pdf{
    position: absolute;
    width: 800px;
    height: 500px;
    background-color: rgba(29, 29, 29, 0.919);
}
.maximizar_pdf{
    position: absolute;
    left: 0 !important;
    top: 0 !important;
    width: 100vw;
    height: 100vh;
}
.font_title{
    font-size: 90px;
    font-family: sans-serif;
}
.pestaña{
    border-radius: 11px 11px 0px 0px;
    width: max-content;
}
.imgs{
    border-radius: 100%;
    margin: 30px;
    width: 90px;
    border: 1px solid rgba(255, 255, 255, 0.852);
}
.hover_white_shadow:hover{
    box-shadow: 0px 0px 7px 1px rgba(255,255,255,0.75);
-webkit-box-shadow: 0px 0px 7px 1px rgba(255,255,255,0.75);
-moz-box-shadow: 0px 0px 7px 1px rgba(255,255,255,0.75);
}